---
import Ascii from "../components/Ascii.astro";
import Html from "../layouts/Html.astro";
---

<Html>
	<section>
		<Ascii />
		<div>
			<h1>Patrick Martin</h1>
			(psm)
			<p>
				hello! this is my website, finally. i don't expect i'll have much to put on here,
				but i figured i'd at least use the domain i pay for.
			</p>
			[<a href="https://github.com/thonkinator">github</a>] [<a
				href="https://mercurywork.shop/#psm">hg</a
			>]<br />
		</div>
	</section>
	<h2>contact</h2>
	<p>
		you'll have the highest chance of reaching me at my discord account, @psm. however, i
		probably won't respond if we don't have any mutual servers. send a message saying your
		reason for contacting me if possible.
	</p>
</Html>

<style>
	section {
		display: flex;
		gap: 3ch;
		padding: var(--lh) 1ch;
	}
</style>
