<pre
	aria-label="profile picture ascii art">
    /\
    | \    ____
    ||\\-^^<span>++++=</span>\
    /| <span>-++===**</span>__^---.  ___/
   /  \  <span>-+=***</span>\L\<span>#=</span>\|==
  /    <span>^--+==** **###</span>|=----__
 /       <span>-+=== =*####</span>/=-__
|      <span>---++== **###</span>/k\ \ ---
|      <span>----++= **##</span>/ |\\ \_
         <span>---+ **=#</span>|  | \\  \
            <span>,+===#</span>|   \ \
           <span>+++====</span>|
               <span>+==</span>\
                <span>++</span>
</pre>

<style>
	span {
		color: grey;
	}
</style>
